footer {
    background: #373737;
    margin-top: auto;
    width: 100%;
  }
  
  .footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
  }
  .footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
  }
  .footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55,55,55);
    padding: 0 20px
  }
  .footer-social-connect {
    display: flex;
    align-items: center;
    font: 1.45em "Oswald", sans-serif;
    color: #8DB9ED;
  } 
  .footer-social-small {
    font-size: 0.65em;
    padding: 0px 20px
  }
  .footer-social-overlap > a {
    font-size: 1.65em
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em
  }

  @media only screen and (max-width: 568px) {
    
    .footer-social-section {
      justify-content: center
    }
    .footer-social-section::after {
      top: 25%
    }
    .footer-social-connect {
      margin-bottom: 10px;
      padding: 0 10px
    }
    .footer-social-overlap {
      display: flex;
      justify-content: center;
    }
    .footer-social-icons-wrapper {
      width: 100%;
      padding: 0
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 20px;
    }
  }
  @media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
      margin: auto
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 320px) {
    
    .footer-social-connect {
      font-size: 1.4em
    }
    .footer-social-overlap > a {
      font-size: 1.24em
    }
  }

  .generic-anchor {
    color: #8DB9ED;
  }
  .generic-anchor:visited {
    color: #8DB9ED;
  }
  .generic-anchor:hover {
    color: #ccc;
  }

  .flex-rw {
    display: flex;
    flex-flow: row wrap;
  }

  a {
    text-decoration: none;
  }