* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

.story_help {
  text-align: center;
  background-color: rgba(141,185,237,0.8);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  color: #212833;
  position: absolute;
  width: 40%;
  left: 30%;
  top: 1%;
  padding: 10px;
}

  span.story p {
    color:#8DB9ED;
    margin-bottom:50px;
    font: 1em "Oswald", sans-serif;
  }

  p.choice_text {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #212833;
  }

  .story_head {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #212833;
  }

  /* Create two equal columns that floats next to each other */
  .column_1, .column_2, .column_3, .story_column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .center_block {
    text-align: center;
    font-size: 26px;
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(141,185,237,0.8);
    color: #212833;
    padding: 10px;
  }

  .small_text {
    font-size: 14px;
  }

  .rightleft_button, .continue_button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    padding: 30px;
    border: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #212833;
    background-color: rgba(141,185,237,0.8);
  }

  .rightleft_button:hover, .continue_button:hover{
    background-color: #515b63;
    color: white;
  }

  .rightleft_block, .explain_block {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #212833;
  }

  .rightleft_block {
    font-size: 25px;
  }

  .explain_block {
    line-height: 1.5em;
    background-color: rgba(141,185,237, 0.8);
    font-size: 14px;
    width: 20%;
    padding: 10px;
  }

  .lhs {
    left: 12%;
  }

  .rhs {
    left: 88%;
  }

  .opa {
    opacity: 1;
  }

  .phish_img {
    max-width: 80%;
    height: auto;
  }

  .netsec_bg {
    background-image: url('../assets/netsec1.png');
    height: 91%; 
    opacity: 0.75
  }

  .column {
    padding: 10px;
    background-color:rgba(0,0,0,0);    
    text-align: center;
  }

  .left {
    float: left;
    width: 33.33%;
  }

  .right {
    float: right;
    width: 33.33%;
  }

  .middle {
    width: 33.33%;
  }

  .column_1, .column_2 {
    background-color:#507caf;
  }

  .story_column, .column_3 {
    background-color:#8DB9ED;
  }

  .story_column p, .column p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #424749;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .choice_image {
    height: 331px;
    width: 331px;
    float: left;
    border-radius: 50%;
  }

  .intext, .intext:visited {
    color: #212833;
    text-decoration: underline;
  }

  a, a:visited {
    color: #8DB9ED;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column_1, .column_2, .column_3, .story_column {
      width: 100%;
    }

    .column_2 {
      background-color: #8DB9ED;
    }

    .column_3 {
      background-color: #507caf;
    }

    .choice_text {
      clear: left;
      text-align: center;
    }
  }