* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

  span.story p {
    color:#8DB9ED;
    margin-bottom:50px;
    font: 1em "Oswald", sans-serif;
  }

  p.choice_text {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #212833;
  }

  .story_head {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #2c3438;
  }

  /* Create two equal columns that floats next to each other */
  .column_1, .column_2, .column_3, .story_column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .netsec_bg {
    background-image: url('../assets/netsec1.png');
    height: 100%; 
    opacity: 0.75;
  }

  .column {
    float: left;
    padding: 10px;
  }

  .left, .right {
    width: 25%;
    background-color:#507caf;
  }

  .middle {
    width: 50%;
    background-color:#8DB9ED;
  }

  .column_1, .column_2 {
    background-color:#507caf;
  }

  .story_column, .column_3 {
    background-color:#8DB9ED;
  }

  .story_column p, .column p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #424749;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .choice_image {
    height: 331px;
    width: 331px;
    float: left;
    border-radius: 50%;
  }

  a, a:visited {
    color: #8DB9ED;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column_1, .column_2, .column_3, .story_column {
      width: 100%;
    }

    .column_2 {
      background-color: #8DB9ED;
    }

    .column_3 {
      background-color: #507caf;
    }

    .choice_text {
      clear: left;
      text-align: center;
    }
  }