* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
  }

  span.story p {
    color:#8DB9ED;
    margin-bottom:50px;
    font: 1em "Oswald", sans-serif;
  }

  p.choice_text {
    text-align: right;
  }

  footer {
    color: #4271f4
  }

  /* Create two equal columns that floats next to each other */
  .column_1, .column_2, .column_3, .story_column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .column_1, .column_2 {
    background-color:#507caf;
  }

  .story_column, .column_3 {
    background-color:#8DB9ED;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .choice_image {
    height: 400px;
    width: 400px;
    float: left;
  }

  a:visited {
    color: #8DB9ED;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column_1, .column_2, .column_3, .story_column {
      width: 100%;
    }

    .column_2 {
      background-color: #8DB9ED;
    }

    .column_3 {
      background-color: #507caf;
    }

    .choice_text {
      clear: left;
    }
  }